---
import { Code } from "astro-expressive-code/components";
import { DemoTabs } from "./demo-tabs";

type CodeTabProps = {
	code: string;
	ins: string;
};

type Props = {
	tsx?: CodeTabProps;
	css?: CodeTabProps;
	html?: CodeTabProps;
};

const { tsx, css, html } = Astro.props;

const hasTabs = Boolean(tsx || css || html);
---
<div class="demo not-content">
  <header class="demo-header">
    <slot name="header" />
  </header>
  <main class="background-polka demo-content">
    <slot />
  </main>
  {
    hasTabs && (
      <div class="demo-footer" slot="footer">
        <DemoTabs client:load renderTsx={Boolean(tsx)} renderCss={Boolean(css)} renderHtml={Boolean(html)}>
          {tsx && <Code code={tsx.code} ins={tsx.ins} lang="tsx" slot="tsx" />}
          {html && <Code code={html.code} ins={html.ins} lang="html" slot="html" />}
          {css && <Code code={css.code} ins={css.ins} lang="css" slot="css" />}
        </DemoTabs>
      </div>
    )
  }
</div>

<style>
  .demo {
    --border-radius: min(var(--wui-border-radius-3), 15px);
    --border-color: var(--wui-color-grey-5);

    border: var(--wui-border-width-1) solid var(--border-color);
    border-radius: var(--border-radius);

    .demo-header {
      display: none;

      &:has(*) {
        display: block;
        padding: var(--wui-space-3);
        border-bottom: var(--wui-border-width-1) solid var(--border-color);
      }
    }

    .demo-content {
      background-color: var(--demo-content-background);
      background-image: radial-gradient(
        var(--wui-color-grey-4) 1px,
        var(--demo-content-background) 1px
      );
      background-size: 10px 10px;
      padding: var(--wui-space-6);
      border-radius: var(--border-radius);
      position: relative;
    }

    .demo-footer {
      display: block;
      border-top: var(--wui-border-width-1) solid var(--border-color);

      .expressive-code {
        margin: 0;
        pre {
          background: var(--demo-code-background);
          border: none;
          border-radius: 0;
          border-bottom-left-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
        }
      }
    }
  }

  :global(:where([data-theme="light"])) {
    .demo {
      .demo-content {
        --demo-content-background: var(--wui-color-white);
      }

      .demo-footer {
        --demo-code-background: var(--wui-color-grey-2);
      }
    }
  }

  :global(:where([data-theme="dark"])) {
    .demo {
      .demo-content {
        --demo-content-background: var(--wui-color-grey-1);
      }

      .demo-footer {
        --demo-code-background: var(--wui-color-grey-1);
      }
    }
  }
</style>
