---
import { ChevronRight, Menu } from "lucide-react";

import { Actions } from "./components/actions";
import { Navigation } from "./components/navigation/navigation";
import type { NavigationItem } from "./components/navigation/types";
import { Search } from "./components/search";

type Props = {
	slug: string;
};

const navigation = [
	{
		label: "Getting Started",
		items: [
			{
				label: "Quick Start",
				link: "/css/docs/start/quick-start",
			},
			{
				label: "Integrating with Tailwind",
				link: "/css/docs/start/integrating-with-tailwind",
			},
		],
	},
	{
		label: "Concepts",
		items: [
			{
				label: "Accent Color",
				link: "/css/docs/concepts/accent-color",
			},
			{
				label: "Layers",
				link: "/css/docs/concepts/layers",
			},
			{
				label: "Radius",
				link: "/css/docs/concepts/radius",
			},
			{
				label: "Scaling",
				link: "/css/docs/concepts/scaling",
			},
		],
	},
	{
		label: "Components",
		badge: "wip",
		items: [
			{
				label: "Introduction",
				link: "/css/docs/components/introduction",
			},
			{
				label: "Button",
				link: "/css/docs/components/button",
			},
			{
				label: "Description",
				link: "/css/docs/components/description",
			},
			{
				label: "Error",
				link: "/css/docs/components/error",
			},
			{
				label: "Field",
				link: "/css/docs/components/field",
			},
			{
				label: "Input",
				link: "/css/docs/components/input",
			},
			{
				label: "Label",
				link: "/css/docs/components/label",
			},
		],
	},
	{
		label: "Variables",
		items: [
			{
				label: "Animation Duration",
				link: "/css/docs/variables/animation-duration",
			},
			{
				label: "Animation Timing Function",
				link: "/css/docs/variables/animation-timing-function",
			},
			{
				label: "Border Radius",
				link: "/css/docs/variables/border-radius",
			},
			{
				label: "Border Width",
				link: "/css/docs/variables/border-width",
			},
			{
				label: "Color",
				link: "/css/docs/variables/color",
			},
			{
				label: "Font Family",
				link: "/css/docs/variables/font-family",
			},
			{
				label: "Font Size",
				link: "/css/docs/variables/font-size",
			},
			{
				label: "Font Weight",
				link: "/css/docs/variables/font-weight",
			},
			{
				label: "Keyframes",
				link: "/css/docs/variables/keyframes",
			},
			{
				label: "Letter Spacing",
				link: "/css/docs/variables/letter-spacing",
			},
			{
				label: "Line Height",
				link: "/css/docs/variables/line-height",
			},
			{
				label: "Shadow",
				link: "/css/docs/variables/shadow",
			},
			{
				label: "Space",
				link: "/css/docs/variables/space",
			},
		],
	},
] satisfies NavigationItem[];

const { slug } = Astro.props;

let sectionTitle = "Unknown Section";
let pageTitle = "Unknown Title";

for (const section of navigation) {
	for (const page of section.items) {
		if (page.link === `/css/docs/${slug}`) {
			sectionTitle = section.label;
			pageTitle = page.label;
			break;
		}
	}
}
---

<nav class="wui-docs-sidebar" transition:animate="none">
  <div class="wui-docs-sidebar-header">
    <div class="wui-logo">
      <a class="wui-logo-company" href="/css">Winnie</a>
      <span class="wui-logo-separator"></span>
      <span class="wui-logo-app">CSS</span>
    </div>
    <div class="wui-docs-sidebar-actions">
      <Actions client:load transition:persist />
    </div>
  </div>
  <input type="checkbox" id="docs-menu-toggle" class="wui-docs-mobile-toggle" />
  <label
    class="wui-docs-sidebar-mobile-header"
    for="docs-menu-toggle"
    aria-label="Toggle Docs Menu"
  >
    <div class="wui-mobile-title-container">
      <span class="wui-mobile-section">{sectionTitle}</span>
      <ChevronRight />
      <span class="wui-mobile-page">{pageTitle}</span>
    </div>
    <Menu />
  </label>
  <div class="wui-docs-sidebar-search">
    <Search client:load transition:persist />
  </div>
  <Navigation
    client:load
    transition:persist
    items={navigation}
    slug={Astro.props.slug}
  />
</nav>

<style>
  .wui-docs-sidebar {
    --wui-docs-layout-sidebar-mobile-height: 70px;
    --wui-sidebar-inline-padding: var(--wui-space-5);

    background: var(--sidebar-background);
    flex-direction: column;
    overflow: hidden;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;

    &:has(#docs-menu-toggle:checked) {
      height: 100%;

      .wui-navigation {
        display: block;
      }
    }

    @media (min-width: 768px) {
      --sidebar-background: var(--wui-docs-layout-background);
      display: flex;
      height: 100%;
      width: var(--wui-docs-layout-sidebar-width);
    }

    .wui-docs-navigation-container {
      display: none;
    }

    .wui-docs-sidebar-header {
      display: flex;
      padding: var(--wui-space-5) var(--wui-sidebar-inline-padding);

      .wui-logo {
        align-items: center;
        display: flex;
        flex: 1;
        gap: var(--wui-space-4);

        .wui-logo-company {
          color: var(--wui-color-grey-12);
          letter-spacing: var(--wui-letter-spacing-9);
          font-size: var(--wui-font-size-3);
          font-weight: var(--wui-font-weight-medium);
          margin-bottom: 2px;
        }

        .wui-logo-separator {
          background: var(--wui-color-grey-8);
          height: var(--wui-space-5);
          transform: rotate(20deg);
          width: 1px;
        }

        .wui-logo-app {
          color: var(--wui-color-grey-11);
          font-size: var(--wui-font-size-3);
        }
      }

      .wui-docs-sidebar-actions {
        align-items: center;
        display: flex;
        gap: var(--wui-space-2);

        .wui-docs-sidebar-search-action {
          display: block;

          @media (min-width: 768px) {
            display: none;
          }
        }
      }
    }

    .wui-docs-sidebar-mobile-header {
      display: flex;
      border-bottom: var(--wui-border-width-1) solid var(--wui-color-grey-5);
      padding-top: var(--wui-space-4);
      padding-bottom: var(--wui-space-5);
      padding-inline: var(--wui-space-5);

      .wui-mobile-title-container {
        align-items: center;
        color: var(--wui-color-grey-11);
        display: flex;
        gap: var(--wui-space-2);
        font-size: var(--wui-font-size-2);
        font-weight: var(--wui-font-weight-medium);
        flex: 1;
        overflow: hidden;
        padding-right: var(--wui-space-4);
        white-space: nowrap;

        .wui-mobile-page {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        & > svg {
          --size: calc(16px * var(--wui-scale));
          color: var(--wui-color-grey-8);
          height: var(--size);
          width: var(--size);
        }
      }

      & > svg {
        --size: var(--wui-font-size-5);

        color: var(--wui-color-grey-11);
        margin-right: var(--wui-space-3);
        height: var(--size);
        width: var(--size);
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    .wui-docs-sidebar-search {
      display: none;
      padding-inline: var(--wui-sidebar-inline-padding);
      width: 100%;

      @media (min-width: 768px) {
        display: block;
      }
    }

    .wui-navigation {
      display: none;
      user-select: none;

      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  :global(:where([data-theme="light"])) {
    --sidebar-background: var(--wui-color-white);
  }

  :global(:where([data-theme="dark"])) {
    --sidebar-background: var(--wui-color-grey-1);
  }
</style>
