---
type Props = {
  color: "red" | "orange" | "yellow" | "green" | "blue" | "purple" | "pink";
};

const { color } = Astro.props;
---

<div class="paint-chip not-content">
  <div class="swatch" data-accent-color={color}></div>
  <div class="swatch" data-accent-color={color}></div>
  <div class="swatch" data-accent-color={color}></div>
  <div class="swatch" data-accent-color={color}></div>
  <div class="swatch" data-accent-color={color}></div>
</div>

<style>
  .paint-chip {
    align-items: center;
    display: flex;
    gap: var(--ak-space-3);

    .swatch {
      aspect-ratio: 2 / 1;
      border-radius: var(--ak-border-radius-3);
      height: 32px;

      &:nth-child(1) {
        background: var(--ak-accent-color-9);
      }

      &:nth-child(2) {
        background: var(--ak-accent-color-8);
      }

      &:nth-child(3) {
        background: var(--ak-accent-color-7);
      }

      &:nth-child(4) {
        background: var(--ak-accent-color-6);
      }

      &:nth-child(5) {
        background: var(--ak-accent-color-5);
      }
    }
  }
</style>
