---
import ColorChip from "./color-chip.astro";
import type { Color } from "./types";
type Props = {
  color: Color;
  mode?: "light" | "dark";
};

const { color, mode = "light" } = Astro.props;

const colorsAlpha = [
  "a1",
  "a2",
  "a3",
  "a4",
  "a5",
  "a6",
  "a7",
  "a8",
  "a9",
  "a10",
  "a11",
  "a12",
];
---

<div class="color-row">
  <span class="color-row-label"
    >{color} Alpha {mode === "dark" ? "Dark" : ""}</span
  >
  <ul class={`color-row-content not-content ${mode}`} data-accent-color={color}>
    {
      colorsAlpha.map((level) => {
        return <ColorChip color={color} level={level} />;
      })
    }
  </ul>
</div>
