---
import baltimore from "~/images/baltimore.png";
import dodgers from "~/images/dodgers.png";
import rangers from "~/images/rangers.png";
import rays from "~/images/rays.png";
import yankees from "~/images/yankees.png";

import { BaseballPlayerChart } from "~/content/css/concepts/_components/baseball-player-chart";
import BaseHead from "~/layouts/base/base-head.astro";
import BaseLayout from "~/layouts/base/layout.astro";
import { ThemePickerDialog } from "~/layouts/docs/sidebar/components/theme-picker/theme-picker-dialog";

export const prerender = true;
---

<BaseLayout>
  <BaseHead
    slot="head"
    title="Winnie CSS"
    description="A flexible and opinionated collection of CSS primitives for building applications."
  />
  <header class="landing-header" transition:animate="none">
    <div class="landing-header-content">
      <div class="landing-header-logo">
        <span> Winnie </span>
      </div>
      <div class="landing-header-actions">
        <!-- <a
          href="https://github.com/winnie-ui/winnie-ui"
          target="_blank"
          rel="noreferrer"
          class="github-link"
        >
          <svg
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>GitHub</title>
            <path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path>
          </svg>
        </a> -->
        <ThemePickerDialog client:load />
      </div>
    </div>
  </header>
  <main class="hero polka-background" transition:animate="none">
    <div class="hero-content">
      <div class="hero-area-a">
        <div class="hero-text">
          <h2 class="winnie-ui light">css</h2>
          <h1>Take your styles, the extra mile</h1>
          <p>
            A <span>flexible</span> and <span>opinionated</span> collection of CSS
            primitives for building applications.
          </p>
        </div>
        <div class="actions">
          <a href="/css/docs/start/quick-start">Start building</a>
        </div>
      </div>
      <div class="hero-area-b">
        <div class="demo-container">
          <div class="demo">
            <header class="demo-header">
              <div class="team-select-container">
                <span class="title">Teams</span>
                <span class="separator">/</span>
                <span class="team-select">Blue Jays</span>
              </div>
              <div class="header-actions">
                <button>AA</button>
              </div>
            </header>
            <main class="demo-content">
              <div class="demo-content-header">
                <span class="demo-content-title">Dashboard</span>
              </div>
              <div class="demo-content-main">
                <div class="demo-content-area-a widget metric">
                  <span class="metric-title">Record</span>
                  <span class="metric-number">49 / 56</span>
                  <span class="metric-description">-5% from last month</span>
                </div>
                <div class="demo-content-area-b widget metric">
                  <span class="metric-title"> Team ERA </span>
                  <span class="metric-number"> 3.5 </span>
                  <span class="metric-description">
                    +0.4 ERA from last month
                  </span>
                </div>
                <div class="demo-content-area-c widget metric">
                  <span class="metric-title"> Total Home Runs </span>
                  <span class="metric-number"> 97 </span>
                  <span class="metric-description">
                    -12 home runs from last month
                  </span>
                </div>
                <div class="demo-content-area-d widget">
                  <div class="chart-header">
                    <span class="chart-title">Hitting Stats</span>
                    <span class="chart-description"
                      >Showing batting average and on-base percentage by month</span
                    >
                  </div>
                  <div class="chart-container">
                    <BaseballPlayerChart client:only="react" />
                  </div>
                </div>
                <div class="demo-content-area-e widget">
                  <span class="game-title">Recent Games</span>
                  <p class="game-description">
                    Showing the most recent 5 games
                  </p>
                  <ul class="game-list">
                    <li class="game-list-item">
                      <img
                        src={baltimore.src}
                        alt="baltimore orioles"
                        class="team-logo"
                      />
                      <div class="game-team-container">
                        <span class="game-team">Baltimore Orioles</span>
                        <span class="game-result">Loss</span>
                      </div>
                      <span class="game-score">5-4</span>
                    </li>
                    <li class="game-list-item">
                      <img
                        src={rangers.src}
                        alt="texas rangers"
                        class="team-logo"
                      />
                      <div class="game-team-container">
                        <span class="game-team">Texas Rangers</span>
                        <span class="game-result">Loss</span>
                      </div>
                      <span class="game-score">7-1</span>
                    </li>
                    <li class="game-list-item">
                      <img
                        src={yankees.src}
                        alt="new york yankees"
                        class="team-logo"
                      />
                      <div class="game-team-container">
                        <span class="game-team">New York Yankees</span>
                        <span class="game-result">Loss</span>
                      </div>
                      <span class="game-score">10-2</span>
                    </li>
                    <li class="game-list-item">
                      <img
                        src={rays.src}
                        alt="Tampa Bay Rays"
                        class="team-logo"
                      />
                      <div class="game-team-container">
                        <span class="game-team">Tampa Bay Rays</span>
                        <span class="game-result">Loss</span>
                      </div>
                      <span class="game-score">11-4</span>
                    </li>
                    <li class="game-list-item">
                      <img
                        src={dodgers.src}
                        alt="L.A Dodgers"
                        class="team-logo"
                      />
                      <div class="game-team-container">
                        <span class="game-team">L.A Dodgers</span>
                        <span class="game-result">Loss</span>
                      </div>
                      <span class="game-score">8-7</span>
                    </li>
                  </ul>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  body {
    --max-page-width: 1024px;
    overflow-x: hidden;
  }

  .landing-header {
    left: 0;
    position: fixed;
    top: 0;
    padding-inline: var(--wui-space-5);
    width: 100%;
    z-index: 1;

    .landing-header-content {
      align-items: center;
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);
      border-radius: var(--wui-border-radius-3);
      display: flex;
      height: 48px;
      justify-content: space-between;
      margin-inline: auto;
      max-width: calc(var(--max-page-width) + var(--wui-space-4) * 2);
      padding-inline: var(--wui-space-4);
      padding-right: var(--wui-space-3);

      .landing-header-logo {
        span {
          font-size: var(--wui-font-size-3);
          font-weight: var(--wui-font-weight-medium);
        }
      }

      .landing-header-actions {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        gap: var(--wui-space-2);

        .github-link {
          align-items: center;
          border-radius: var(--wui-border-radius-3);
          color: var(--wui-color-grey-12);
          display: flex;
          font-size: var(--wui-font-size-2);
          font-weight: var(--wui-font-weight-semibold);
          height: calc(34px * var(--wui-scale));
          justify-content: center;
          width: calc(34px * var(--wui-scale));

          &:where(:hover, :active) {
            background: var(--wui-color-accent-4);
          }

          &:focus-visible {
            background: var(--wui-color-accent-3);
            outline: none;
          }

          & > svg {
            fill: var(--wui-color-grey-12);
            height: calc(16px * var(--wui-scale));
            width: calc(16px * var(--wui-scale));
          }
        }
      }
    }
  }

  .hero {
    --hero-padding-top: 100px;

    display: flex;
    justify-content: center;
    min-height: 100dvh;
    padding-top: var(--hero-padding-top);
    position: relative;
    overflow-x: hidden;

    @media (min-width: 768px) {
      --hero-padding-top: 140px;
    }

    .hero-content {
      --grid-column-count: 3;

      display: grid;
      grid-template-columns: repeat(var(--grid-column-count), 1fr);
      gap: var(--wui-space-7);

      @media (min-width: 768px) {
        --grid-column-count: 6;

        max-width: var(--max-page-width);
        margin-inline: auto;
        width: 100%;
      }

      .hero-area-a {
        grid-column: span 3;
        padding-inline: var(--wui-space-6);

        @media (min-width: 768px) {
          grid-column: span calc(var(--grid-column-count) / 2);
          padding-right: 0;
          padding-left: var(--wui-space-6);
        }

        @media (min-width: 1054px) {
          padding-left: 0;
        }

        .hero-text {
          h2 {
            background: linear-gradient(
              to bottom right,
              var(--wui-color-accent-9),
              var(--wui-color-accent-8)
            );
            border-radius: var(--wui-border-radius-3);
            font-weight: var(--wui-font-weight-normal);
            color: var(--wui-color-accent-contrast);
            display: inline-block;
            font-size: var(--wui-font-size-5);
            letter-spacing: var(--wui-letter-spacing-9);
            padding-inline: var(--wui-space-3);
            padding-bottom: var(--wui-space-2);
          }

          h1 {
            color: var(--wui-color-grey-12);
            font-size: 44px;
            font-weight: var(--wui-font-weight-semibold);
            line-height: 50px;
            letter-spacing: var(--wui-letter-spacing-9);
            margin-top: var(--wui-space-6);

            @media (min-width: 768px) {
              font-size: 56px;
              line-height: var(--wui-line-height-9);
            }
          }

          p {
            color: var(--wui-color-grey-11);
            font-size: var(--wui-font-size-4);
            line-height: var(--wui-line-height-4);
            margin-top: var(--wui-space-5);

            span {
              color: var(--wui-color-grey-12);
              font-weight: var(--wui-font-weight-medium);
            }
          }
        }

        .actions {
          margin-top: var(--wui-space-6);

          a {
            align-items: center;
            background: var(--action-background);
            border-radius: var(--wui-border-radius-3);
            color: var(--action-color);
            display: inline-flex;
            font-size: var(--wui-font-size-3);
            font-weight: var(--wui-font-weight-medium);
            height: calc(42px * var(--wui-scale));
            justify-content: center;
            padding-inline: var(--wui-space-5);

            &:hover {
              background: var(--action-background-hover);
            }

            &:active {
              background: var(--action-background-active);
            }

            &:focus-visible {
              outline: var(--wui-border-width-2) solid var(--wui-color-accent-9);
              outline-offset: 2px;
            }

            @media (min-width: 768px) {
              height: calc(42px * var(--wui-scale));
              font-size: var(--wui-font-size-3);
              padding-inline: var(--wui-space-5);
            }
          }
        }
      }

      .hero-area-b {
        grid-column: span 3;
        padding-inline: var(--wui-space-6);
        margin-top: var(--wui-space-7);
        margin-bottom: var(--wui-space-7);

        @media (min-width: 768px) {
          grid-column: span calc(var(--grid-column-count) / 2);
          padding-inline: 0;
          margin-top: 0;
        }

        .demo {
          --border-radius: min(var(--wui-border-radius-3), 14px);
          background: var(--demo-background);
          border: var(--wui-border-width-1) solid var(--demo-border-color);
          border-radius: var(--border-radius);
          display: flex;
          flex-direction: column;
          min-height: 600px;
          max-width: 900px;
          min-width: 600px;
          margin-right: -50vw;
          position: relative;

          &::after {
            background: linear-gradient(
                to right,
                transparent 70%,
                var(--demo-mask-color) 95%
              ),
              linear-gradient(
                to bottom,
                transparent 70%,
                var(--demo-mask-color) 95%
              );
            content: "";
            left: -1px;
            height: calc(100% + 2px);
            pointer-events: none;
            position: absolute;
            top: -1px;
            width: calc(100% + 2px);
            z-index: 1;
          }

          .demo-header {
            align-items: center;
            background: var(--demo-header-background);
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
            border-bottom: var(--wui-border-width-1) solid
              var(--demo-border-color);
            display: flex;
            height: 50px;
            flex-shrink: 0;
            padding-inline: var(--wui-space-6);

            .team-select-container {
              align-items: center;
              display: flex;
              flex: 1;
              gap: var(--wui-space-3);

              .title {
                color: var(--wui-color-grey-12);
                font-size: var(--wui-font-size-2);
                font-weight: var(--wui-font-weight-medium);
              }

              .separator {
                color: var(--wui-color-grey-9);
                font-size: var(--wui-font-size-2);
              }

              .team-select {
                color: var(--wui-color-grey-12);
                font-size: var(--wui-font-size-2);
              }
            }
          }

          .demo-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding-block: var(--wui-space-6);
            padding-inline: var(--wui-space-6);

            .demo-content-header {
              height: 50px;
              .demo-content-title {
                color: var(--wui-color-grey-12);
                font-size: var(--wui-font-size-5);
                font-weight: var(--wui-font-weight-medium);
              }
            }

            .demo-content-main {
              flex: 1;
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-template-rows: auto repeat(2, 1fr);
              grid-template-areas:
                "a b c"
                "d d e"
                "d d e";
              gap: var(--wui-space-6);

              .widget {
                border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
                border-radius: min(var(--wui-border-radius-3), 12px);
                background: var(--dashboard-widget-color);
                box-shadow: var(--dashboard-widget-shadow);
                padding: var(--wui-space-6);
              }

              .metric {
                display: flex;
                flex-direction: column;
                gap: var(--wui-space-2);

                .metric-title {
                  color: var(--wui-color-grey-12);
                  font-size: var(--wui-font-size-3);
                  font-weight: var(--wui-font-weight-medium);
                  letter-spacing: var(--wui-letter-spacing-9);
                }

                .metric-number {
                  color: var(--wui-color-grey-12);
                  font-size: var(--wui-font-size-6);
                  font-weight: var(--wui-font-weight-bold);
                  letter-spacing: var(--wui-letter-spacing-9);
                }

                .metric-description {
                  color: var(--wui-color-grey-11);
                  font-size: var(--wui-font-size-2);
                }
              }

              .demo-content-area-a {
                grid-area: a;
              }

              .demo-content-area-b {
                grid-area: b;
              }

              .demo-content-area-c {
                grid-area: c;
              }

              .demo-content-area-d {
                display: flex;
                flex-direction: column;
                gap: var(--wui-space-5);
                grid-area: d;

                .chart-header {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .chart-title {
                    color: var(--wui-color-grey-12);
                    font-size: var(--wui-font-size-4);
                    font-weight: var(--wui-font-weight-medium);
                    margin-bottom: var(--wui-space-2);
                    letter-spacing: var(--wui-letter-spacing-9);
                  }

                  .chart-description {
                    color: var(--wui-color-grey-11);
                    font-size: var(--wui-font-size-2);
                  }
                }

                .chart-container {
                  flex: 1;
                  margin-top: var(--wui-space-5);
                }
              }

              .demo-content-area-e {
                grid-area: e;

                .game-title {
                  color: var(--wui-color-grey-12);
                  font-size: var(--wui-font-size-4);
                  font-weight: var(--wui-font-weight-medium);
                  letter-spacing: var(--wui-letter-spacing-9);
                }

                .game-description {
                  color: var(--wui-color-grey-11);
                  font-size: var(--wui-font-size-2);
                  margin-top: var(--wui-space-2);
                }

                .game-list {
                  margin-top: var(--wui-space-6);

                  .game-list-item {
                    align-items: center;
                    display: flex;
                    gap: var(--wui-space-4);
                    padding-bottom: var(--wui-space-4);

                    &:not(:last-child) {
                      border-bottom: var(--wui-border-width-1) solid
                        var(--wui-color-grey-5);
                      margin-bottom: var(--wui-space-4);
                    }

                    .team-logo {
                      --size: 26px;
                      height: var(--size);
                      width: var(--size);
                    }

                    .game-team-container {
                      display: flex;
                      flex-direction: column;
                      flex: 1;

                      .game-team {
                        color: var(--wui-color-grey-12);
                        font-size: var(--wui-font-size-1);
                        font-weight: var(--wui-font-weight-medium);
                      }

                      .game-result {
                        color: var(--wui-color-grey-11);
                        font-size: var(--wui-font-size-1);
                      }
                    }

                    .game-score {
                      color: var(--wui-color-grey-11);
                      font-size: var(--wui-font-size-1);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .polka-background {
    background-color: var(--polka-background);
    background-image: radial-gradient(
      var(--polka-dot-background) 1px,
      var(--polka-background) 1px
    );
    background-size: var(--polka-background-size, 20px 20px);
  }

  :global(:where([data-theme="light"])) {
    --header-background: var(--wui-color-white-a11);
    --header-border-color: var(--wui-color-grey-3);

    --action-background: var(--wui-color-grey-12);
    --action-color: var(--wui-color-white);
    --action-background-hover: var(--wui-color-black);
    --action-background-active: var(--wui-color-black);

    --demo-background: var(--wui-color-white);
    --demo-border-color: var(--wui-color-grey-4);
    --demo-box-shadow: var(--wui-shadow-2);
    --demo-header-background: var(--wui-color-grey-1);
    --demo-mask-color: var(--wui-color-white);

    --dashboard-widget-color: var(--wui-color-grey-1);
    --dashboard-widget-shadow: var(--wui-shadow-1);

    .polka-background {
      --polka-background: var(--wui-color-white);
      --polka-dot-background: var(--wui-color-grey-3);
    }

    .hero-gradient {
      --hero-gradient-1: var(--wui-color-white);
    }
  }

  :global(:where([data-theme="dark"])) {
    --header-background: var(--wui-color-black-a11);
    --header-border-color: var(--wui-color-grey-2);

    --action-background: var(--wui-color-grey-12);
    --action-color: var(--wui-color-black);
    --action-background-hover: var(--wui-color-white);
    --action-background-active: var(--wui-color-white);

    --demo-background: var(--wui-color-black);
    --demo-border-color: var(--wui-color-grey-3);
    --demo-box-shadow: var(--wui-shadow-3);
    --demo-header-background: var(--wui-color-black);
    --demo-mask-color: var(--wui-color-black);

    --dashboard-widget-color: var(--wui-color-grey-1);
    --dashboard-widget-shadow: var(--wui-shadow-2);

    .polka-background {
      --polka-background: var(--wui-color-black);
      --polka-dot-background: var(--wui-color-grey-3);
    }

    .hero-gradient {
      --hero-gradient-1: var(--wui-color-black);
    }
  }
</style>
