---
import type { CollectionEntry } from "astro:content";

import BaseHead from "~/components/base-head.astro";
import BaseLayout from "../base/layout.astro";
import Sidebar from "./sidebar/sidebar.astro";
import Content from "./content.astro";

type Props = CollectionEntry<"css">["data"];

const { title, description, slug } = Astro.props;
---

<BaseLayout>
  <BaseHead slot="head" title={title} description={description} />
  <div class="flex min-h-dvh gap-4">
    <Sidebar slug={slug} />
    <Content title={title} description={description} />
  </div>
</BaseLayout>
