---
import type { CollectionEntry } from "astro:content";

import BaseHead from "~/components/base-head.astro";
import BaseLayout from "../base/layout.astro";
import Sidebar from "./sidebar/sidebar.astro";
import Content from "./content.astro";

type Props = CollectionEntry<"css">["data"];

const { title, description, slug } = Astro.props;
---

<BaseLayout>
  <BaseHead slot="head" title={title} description={description} />
  <Sidebar slug={slug} />
  <div class="wui-docs-layout-content-container">
    <Content title={title} description={description}>
      <slot />
    </Content>
  </div>
</BaseLayout>

<style>
  .wui-docs-layout-content-container {
    display: flex;
    min-height: 100dvh;
    gap: var(--wui-space-4);
  }
</style>
