---
import Demo from "../../../../components/demo.astro";
import Button from "../../../../components/button.astro";
---

<script>
  const radioItems = document.querySelectorAll<HTMLInputElement>(
    "input[type='radio'].accent-color-radio-item",
  );

  const demoElement = document.querySelector(
    "div.accent-color-demo",
  ) as HTMLDivElement;

  const selectedAccentColorElement = document.querySelector(
    ".selected-accent-color",
  ) as HTMLDivElement;

  /**
   * Handle select change event
   */
  function handleSelectChange(e: Event) {
    const accentColor = (e?.target as HTMLInputElement).value;
    demoElement.setAttribute("data-accent-color", accentColor);
    selectedAccentColorElement.setAttribute("data-accent-color", accentColor);
    selectedAccentColorElement.innerHTML = `data-accent-color="${accentColor}"`;
  }

  /**
   * Subscribe to change event on select element
   */
  for (const item of radioItems) {
    item.addEventListener("change", handleSelectChange);
  }
</script>

<Demo>
  <div slot="header" class="accent-color-demo-header">
    <div class="accent-color-radio-group" data-accent-color="red">
      {
        [
          "red",
          "orange",
          "yellow",
          "green",
          "blue",
          "purple",
          "pink",
          "grey",
          "brand",
        ].map((color) => {
          return (
            <label
              class="accent-color-radio-item-label"
              data-accent-color={color}
              for={color}
              aria-label={color}
            >
              <input
                class="accent-color-radio-item"
                type="radio"
                id={color}
                value={color}
                checked={color === "red"}
                name="accent-color"
              />
            </label>
          );
        })
      }
    </div>
    <code class="selected-accent-color" data-accent-color="red"
      >data-accent-color="red"</code
    >
  </div>

  <div class="winnie-ui accent-color-demo" data-accent-color="red">
    <Button>Sign up</Button>
  </div>
</Demo>

<style>
  .accent-color-demo-header {
    align-items: center;
    display: flex;

    .accent-color-radio-group {
      align-items: center;
      display: flex;
      flex: 1;
      gap: var(--wui-space-3);

      .accent-color-radio-item {
        opacity: 0;
      }

      .accent-color-radio-item-label {
        background: var(--wui-color-accent-7);
        border-radius: var(--wui-border-radius-round);
        display: block;
        height: 18px;
        width: 18px;

        &:has(input[type="radio"]:checked) {
          background: var(--wui-color-accent-9);
        }

        &:has(input[type="radio"]:focus-visible) {
          outline: var(--wui-border-width-2) solid var(--wui-color-accent-10);
          outline-offset: 2px;
        }
      }
    }
    .selected-accent-color {
      background-color: var(--wui-color-accent-a3);
      border-radius: var(--wui-border-radius-2);
      display: inline-block;
      color: var(--wui-color-accent-11);
      font-size: var(--wui-font-size-2);
      font-family: var(--wui-font-family-mono);
      line-height: var(--wui-line-height-2);
      padding-inline: var(--wui-space-2);
      white-space: nowrap;

      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
  }
</style>
